prefix=D:\Program Files (x86)\nodejs\npm_global
cache=D:\Program Files (x86)\nodejs\npm_cache
python=D:\python27\python.exe

registry=https://registry.npm.taobao.org/
electron_mirror=https://npm.taobao.org/mirrors/electron/
disturl=https://atom.io/download/atom-shell

msvs_version=2015

arch=ia32
target_arch=ia32

build_from_source=true